.background-image {
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
}
.landing-title {
  font-size: 50px;
  color: black;
  padding: 20px;
}
.background {
  height: 200px;
  width: 100%;
}
.intro {
  margin: 100px;
}

.desc {
  font-size: 20px;
}
